{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@collections": "lib/collections",
        "@resources": "lib/resources",
        "@ducks": "client/ducks",
        "@components": "client/components",
        "@containers": "client/containers",
        "@pages": "client/pages",
        "@helpers": "client/helpers",
        "@selectors": "client/selectors",
        "@config": "client/config",
        "@utils": "client/utils",
        "@algorithms": "lib/algorithms"
      }
    }]
  ]
}
